
<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://getbootstrap.com/docs/4.0/examples/sign-in/signin.css">


<title>Paperless Testing</title>
</head>
<body>
	Test

	<div class="container">
		<form action="#" t method="post">
			<table>
				<tr>
					<td>Learner Registration</td>
				</tr>
				<tr>
					<td>Username :</td>
					<td><input type="text" /></td>
					<td>userName Error</td>
				</tr>
				<tr>
					<td>First Name:</td>
					<td><input type="text" /></td>
					<td>firstName Error</td>
				</tr>
				<tr>
					<td>Last Name :</td>
					<td><input type="text" /></td>
					<td>LastName Error</td>
				</tr>

				<tr>
					<td>Email :</td>
					<td><input type="email" /></td>
					<td>Email Error</td>
				</tr>
				<tr>
					<td>Password :</td>
					<td><input type="password" /></td>
					<td>Pass Error</td>
				</tr>
				<tr>
					<td>Conf. Password :</td>
					<td><input type="password" /></td>
					<td>Pass Error</td>
				</tr>
				<tr>
					<td>Sex :</td>
					<td><select>
							<option value="female">Female</option>
							<option value="male">Male</option>
							<option value="other">other</option>
							<option value="no disclosure" selected>no disclosure</option>
					</select></td>
					<td t>sex Error</td>
				</tr>
				<tr>
					<td>DOB :</td>
					<td><input type="date" /></td>
					<td>DOB Error</td>

				</tr>

				<tr>
					<td><button type="submit">Submit</button></td>
				</tr>
			</table>
		</form>
	</div>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>
</html>