<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://getbootstrap.com/docs/4.0/examples/sign-in/signin.css">


<title>Student Reset Password - paperless</title>
</head>
<body>
	<h1 class="h3 mb-3 font-weight-normal">Reset password- student</h1>

	<h4 th:text="'your email: ' + ${passwordChangedto.email}"></h4>
	<!-- 	<p th:text="'your email: ' + ${passwordChangedto.email}" /> -->

	<form action="#" th:action="@{/provide-credentials}"
		th:object="${resetPassworddto}" method="post" class="form-signin">



		<label for="oldinputPassword" class="sr-only">Old Password</label> <input
			th:field="*{oldPassword}" type="password" id="oldinputPassword"
			class="form-control" placeholder="Old Password" required>
		<p th:if="${#fields.hasErrors('oldPassword')}"
			th:errors="*{oldPassword}"></p>


		<label for="newinputPassword" class="sr-only">new Password</label> <input
			th:field="*{password}" type="password" id="newinputPassword"
			class="form-control" placeholder="new Password" required>
		<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>


		<label for="rptnewinputPassword" class="sr-only">retype new
			Password</label> <input th:field="*{confirmPassword}" type="password"
			id="rptnewinputPassword" class="form-control"
			placeholder="retype new Password" required>
		<p th:if="${#fields.hasErrors('confirmPassword')}"
			th:errors="*{confirmPassword}"></p>


		<button class="btn btn-lg btn-primary btn-block" type="submit">Sign
			in</button>

	</form>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>
</html>