<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Course Session Form</h1>
	<form action="#" th:action="@{/register-coursesession}"
		th:object="${CourseSession}" method="post">
		<p>
			Date Start: <input type="date" th:field="*{dateStart}"
				placeholder="phy01" />
		</p>
		<p>
			Date End: <input type="date" th:field="*{dateEnd}"
				placeholder="Physic basics" />
		</p>
		<p>
			<select>
				<option value="litterature">litterature</option>
				<option value="litterature">communication</option>
				</option>
			</select>
		</p>
		<p>
			<input type="submit" value="Submit" /> <input type="reset"
				value="Reset" />
		</p>
	</form>
</body>
</html>